.app {
  display: flex;
  height: 100vh;
}
.content {
  width: calc(100% - 300px);
  padding: 30px 60px;
  box-sizing: border-box;
  .form {
    max-width: 800px;
    margin: 0 auto;
    h3 {
      font-size: 28px;
      margin-top: 0;
    }
    label {
      display: inline-block;
      margin-right: 2%;
      width: 32%;
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 20px;
      .error {
        max-width: 100%;
        position: absolute;
        color: #ef5656;
        font-size: 12px;
        bottom: 0;
        left: 0;
      }
      input,
      select {
        width: 100%;
        height: 36px;
        box-sizing: border-box;
        padding: 0 16px;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  .create_button {
    width: 220px;
    height: 46px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #333;
    border: none;
    cursor: pointer;
  }
}