table {
  width: 100%;
  border: 1px solid #333333;
  margin-bottom: 60px;
  thead {
    tr {
      background-color: #333;
      th {
        text-align: left;
        color: #fff;
      }
    }
  }
  tr {
    td,
    th {
      border: 1px solid #333333;
      padding: 12px 20px;
      &.action {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}